spring:
    application:
        name: backend-sitrack
    datasource:
        url: ${DATABASE_URL_DEV}
        username: ${DEV_USERNAME}
        password: ${DEV_PASSWORD}
    jpa:
        properties:
            hibernate:
                jdbc:
                    lob:
                        non_contextual_creation: true
                dialect: org.hibernate.dialect.PostgreSQLDialect
        hibernate:
            ddl-auto: update