spring:
    application:
        name: backend-sitrack
    datasource:
        url: ${DATABASE_URL}
        username: ${PGUSER}
        password: ${PGPASSWORD}
    jpa:
        properties:
            hibernate:
                jdbc:
                    lob:
                        non_contextual_creation: true
                dialect: org.hibernate.dialect.PostgreSQLDialect
        hibernate:
            ddl-auto: create